.ButtonWrapper {
  display: inline-flex;
  .Button {
    padding: 0.625rem 3.125rem;
    border: 1px solid #1444a3;
    color: #1444a3;
    cursor: pointer;
    font-variation-settings: "wght" 700;
  }
}
