.heroWrapper {
  height: calc(100vh - 80px);

  .hero {
    height: 100%;
    display: flex;

    .heroContent {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      padding: 0rem 4rem;

      p {
        width: 65%;
        margin: 2rem 0rem;
      }
    }
    .heroImage {
      position: relative;
      height: 100%;
      width: 60%;
    }
  }
}
