.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 6.25rem 6.25rem 6.25rem 6.25rem;

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
    width: 1140px;

    li:nth-child(1) {
      grid-column: 1/4;
    }
    li:nth-child(2) {
      grid-column: 4/7;
    }
    li:nth-child(3) {
      grid-column: 7/10;
    }
    li:nth-child(4) {
      grid-column: 10/13;
    }
  }
}

.container {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 2rem;
  width: 1140px;
}

.left {
  grid-column: 1/6;
}

.right {
  grid-column: 7/13;
}

.divider {
  height: 1px;
  width: 100%;
  margin: 4rem 0rem;
  background: #1444a3;
  width: 1140px;
}

// ######################################################
// ######################################################

// Media Queries

@media screen and (max-width: 1190px) {
  .container {
    width: 768px;
  }

  .wrapper {
    padding: 6.25rem 4.25rem;

    ul {
      width: 768px;

      li:nth-child(1) {
        grid-column: 1/7;
      }
      li:nth-child(2) {
        grid-column: 7/13;
      }
      li:nth-child(3) {
        grid-column: 1/7;
      }
      li:nth-child(4) {
        grid-column: 7/13;
      }
    }
  }
  .divider {
    width: 768px;
  }
}

@media screen and (max-width: 820px) {
  .container {
    width: 540px;
  }

  .wrapper {
    padding: 6.25rem 4.25rem;

    ul {
      width: 540px;

      li:nth-child(1) {
        grid-column: 1/7;
      }
      li:nth-child(2) {
        grid-column: 7/13;
      }
      li:nth-child(3) {
        grid-column: 1/7;
      }
      li:nth-child(4) {
        grid-column: 7/13;
      }
    }
  }
  .divider {
    width: 540px;
  }
}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;

    .left {
      grid-column: 1/12;
    }

    .right {
      grid-column: 1/12;
    }
  }

  .wrapper {
    padding: 6.25rem 1rem;

    ul {
      width: 100%;

      li:nth-child(1) {
        grid-column: 1/13;
      }
      li:nth-child(2) {
        grid-column: 1/13;
      }
      li:nth-child(3) {
        grid-column: 1/13;
      }
      li:nth-child(4) {
        grid-column: 1/13;
      }
    }
  }
  .divider {
    width: 100%;
    margin: 2rem;
  }
}
