// Import Meyerweb Reset CSS
@import "reset.scss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf");
}

// White Theme

$light-txtPrimary: #2e2b26;
$light-txtSecondary: #f3dede;

$light-elmntPrimary: #848484;
$light-elmntSecondary: #c3c2c1;
$light-elmntTertiary: #d6d6d6;

$light-bgPrimary: #ffffff;
$light-bgSecondary: #f0f0f0;
$light-bgTertiary: #e5e5e5;

// Dark Theme

$dark-txtPrimary: #ffffff;
$dark-txtSecondary: #ababab;

$dark-elmntPrimary: #6b6b6b;
$dark-elmntSecondary: #808080;
$dark-elmntTertiary: #ababab;

$dark-bgPrimary: #2e2e2e;
$dark-bgSecondary: #424242;
$dark-bgTertiary: #575757;

body {
  font-family: "Satoshi", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

// Typography

.display-1 {
  font-size: 80px;
  line-height: 84px;
  letter-spacing: -0.1rem;
  font-variation-settings: "wght" 700;
}

h1 {
  font-size: 72px;
  line-height: 76px;
  letter-spacing: -0.1rem;
  font-variation-settings: "wght" 700;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.1rem;
  font-variation-settings: "wght" 700;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.025rem;
  font-variation-settings: "wght" 700;
}

p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0;
}

.--align-center {
  text-align: center;
}
